

 <link rel="stylesheet" href="./css/style3.css">


<body>
    <header>
        <div class="fijo">
           <div class="envios">
         
        </div>
       
        <h1> <strong>Valmour</strong></h1>
       </header>

       <section>

           <div class="registrarse">
              
             
               <a href="/admin/logout">Cerrar Sesión</a>
               
           </div>
           
         
           <nav>
            <div >
              <ul id="menu-horizontal">
                  
                  <li><a href="/formProductos">RegistroProductos</a></li>
                   <li><a href="/formUsuarios"> Registro Usuarios</a></li>
                     <li><a href="/tablaUsuarios">Tabla Usuarios</a></li>
                       <li><a href="/listaProductos"> Lista Productos</a></li>
              </ul>
             </div> 
             
           </nav>
       </section>
       
      






    <br><br><br>

    <h2 id="tituloAdmin">Bienvenido Administrador</h2>

  
   
   <br><br><br><br><br><br><br><br><br>
   
   <div class=logoWhatsapp>
       <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
    
    
       </div> 
   
   
     
   
     
      














       <script src="./js/codigo4.js"></script>