  <link rel="stylesheet" href="./css/style12.css">
<body>

    <header>
        <div class="fijo">
           <div class="envios">
           <p>Envío gratis en compra superiores a $40.000</p>
           </div>
       
           <h1> <strong>Valmour</strong></h1>
</header>

<br><br>
   
       
    



       <section>

           <div class="registrarse">
              
            <a href="/users">Crear cuenta</a>
               <a href="/users/Login">Iniciar sesión</a>
             
           </div>
           
           <nav>
            <div >
              <ul id="menu-horizontal">
                  <li> <a href="./">Inicio</a></li>
                  <li><a href="/compra">Productos</a>
                  <ul id="menu-vertical">
                 
                      <li><a href="/calzados">Calzados</a></li>
                      <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                  </li>


               
                  <li><a href="/contacto">Contacto</a></li>
              </ul>
             </div> 
             
           </nav>
           
       </section>
      
   

   </div>
   

   




   <br><br><br><br><br><br><br>
<article id="productimg">

   
        <div id="fotoBotaVans">
            <figure>
                <img src="./assets/imagenes/vansBota.jpg" alt="foto">
            </figure>
          
            
        </div>
        <br>
        <hr>
        
        <div id="detailscoral">
            <h5> Bota Vans</h5>

        
            <p> <strong>$14.900</strong> <del>$16.500</del> <br><br><strong>3</strong> cuotas sin interés de <strong>$4.966,67</strong><br><br> </a> </p>
          
          <br>

            
        </div>

</article>

<hr>
<br><br><br>

<div id="Description">
    <div>
        <h2>Descripción</h2>
        <br>
        <p>
            Las Sk8-Hi de Vans son unas zapatillas ligeras, de caña alta y con cordones. <br> Presenta amortiguación en el talón para más confort, una puntera reforzada que garantiza la durabilidad y cuello acolchado para mayor sujeción y flexibilidad. <br>Está hecha con una parte superior de lona y gamuza resistente. La distintiva suela waffle de caucho proporciona un agarre más firme.

        </p>
    </div>
   
    

</div>

<br><br><br>
<h2>También te puede gustar</h2>
<br><br><br><br><br>



<div id="fotoProducto">
    <div id="producto1">
        <figure>
            <img src="./assets/imagenes/vansazul.jpg" alt="foto">
            <p>Zapatilla Vans<br> <strong>$15.000</strong> <del>$17.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$5.166,67 </strong>  <br> <a href="/vansAzul"><button> Ver producto</button></a>  </p>
        </figure>
    </div>
   

    <div id="producto2">
   <img src="assets/imagenes/vansNegro.jpg" alt="foto">
   <p>Zapatilla Vans <br> <strong>$11.900</strong> <del>$13.900</del> <br><strong>3</strong> cuotas sin interés de <strong>$3.966,67</strong> <br> <a href="/zapatillanegraVans"><button> Ver producto</button></a></p>
    </div>
 

    <div id="producto3">
       <img src="./assets/imagenes/all star.jpg" alt="foto">
       <p>Zapatilla Converse <br> <strong>$13.900</strong> <del>$16.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$4.633,33</strong>   <br> <a href="/zapatillaConverse"><button> Ver producto</button></a> </p>
    </div>
   

  
    
</div>



<br><br><br><br><br><br><br><br>

























   
       <div class="redesSociales">
           <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a> 
           <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a> 
            <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
            <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
        </div>
  
   
   <br><br>
       <div class=logoWhatsapp>
          <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
       </div> 
   
   <br><br>

   
   


<script src="./js/codigo12.js"></script>



