   
   
   <link rel="stylesheet" href="./css/style5.css">
  
 <body>

    <header>
        <div class="fijo">
            <div class="envios">
                <p>Envío gratis en compra superiores a $40.000</p>
            </div>

            <h1> <strong>Valmour</strong></h1>
    </header>

    <section>

        <div class="registrarse">
            <a href="/users">Crear cuenta</a>
            <a href="/users/login">Iniciar sesión</a>
           
        </div>


        <nav>
            <div>
                <ul id="menu-horizontal">
                    <li> <a href="./">Inicio</a></li>
                   <li><a href="/compra">Productos</a>
                        <ul id="menu-vertical">
                    
                            <li><a href="/calzados">Calzados</a></li>
                            <li><a href="/perfumes">Perfumes</a></li>
                        </ul>
                    </li>


                   
                   
                </ul>
            </div>

        </nav>
    </section>



 <div>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2815.4518766440774!2d-60.649968593283496!3d-32.94690624816292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab15c60095bd%3A0xd39529f4d198a05!2sEspa%C3%B1a%20975%2C%20S2000%20Rosario%2C%20Santa%20Fe!5e0!3m2!1ses-419!2sar!4v1688599070325!5m2!1ses-419!2sar"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div>
        <a id="inicio" href="./">Inicio</a>
        <p class="indexContacto">/Contacto</p>
    </div>
    <br><br>
    <div class="formulario">
        <legend>¡Envianos tu consulta!</legend>

        <form id="form">
     
            <div id="grupo_nombre">
                <label for="Nombre">
                    <p class="name">Nombre <span>*</span></p>
                    <input type="text" name="nombre" id="nombre" title="Nombre solo acepta letras y espacios en blanco"
                        minlength="4" maxlength="20">
                </label>
            </div>


          

            <label for="Email">
                <p class="correoE">Correo electrónico <span>*</span></p>
                <input type="email" name="email" id="email" title="Email incorrecto">

            </label>


            <label for="telefono">
                <p class="phoneNumber">Número de teléfono <span>*</span></p>
                <input type="text" name="telefono" id="telefono">
            </label>

         

            <p class="coment">¿En qué podemos ayudarte? <span>*</span></p>
            <textarea name="comentario" id="comentario" cols="30" rows="10"
                title="Tu comentario no debe exceder los 255 caracteres"></textarea>

            <br>


           

            <button id="enviando">Enviar</button>

          
            <br>



        </form>






    </div>

    <div id="loading_form">
        <img src="./assets/imagenes/loading.gif" alt="gif">
    </div>




    <br><br><br><br><br><br><br>

    <div class="redesSociales">
        <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a>
        <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a>
        <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
        <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
    </div>
    </div>

    <br><br>









    <div class=logoWhatsapp>
        <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a>


    </div>

    <script src="./js/codigo5.js"></script>



