
   <link rel="stylesheet" href="./css/style4.css">

<body>
    <header>
        <div class="fijo">
           <div class="envios">
               <p>Envío gratis en compra superiores a $40.000</p> 
        </div>
       
        <h1> <strong>Valmour</strong></h1>
       </header>

       <section>

           <div class="registrarse">
              
             
               
               
           </div>
           
         
           <nav>
            <div >
              <ul id="menu-horizontal">
                  <li> <a href="./">Inicio</a></li>
                  <li><a href="/compra">Productos</a>
                  <ul id="menu-vertical">
                   
                      <li><a href="/calzados">Calzados</a></li>
                      <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                  </li>


                  <li><a href="/contacto">Contacto</a></li>
              </ul>
             </div> 
             
           </nav>
       </section>
       





    <br><br>
<div>
    <a id="inicio" href="./">Inicio</a> 
    <p class="Login">/Mi Cuenta/<stong>Inicio sesion Administrador</stong></p>
</div>
   <br><br>

   <div id="formularioLogin">
    <form action="/users/login" method="post"></form>
  


        <label for="email">EMAIL<span>*</span>
            <input type="email" name="email" id="email">
    
        </label>
        <label for="password">CONTRASEÑA<span>*</span>
            <input type="password" name="password" id="password">
    
        </label>
   <p>¿Olvidaste tu contraseña?</p>
   <br>

   <button  id="loginSubmit" type="submit">INICIAR SESIÓN</button>
   <br><br>
  
   





    </form>

    <div id="loading_form">
        <img src="./assets/imagenes/loading.gif" alt="gif">
    </div>



   </div>
   

   <br><br><br><br><br>



   
       <div class="redesSociales">
           <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a> 
           <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a> 
            <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
            <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
        </div>
   </div>
   
   <br><br>
   
   
   
   <div class=logoWhatsapp>
       <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
    
    
       </div> 
   <script src="./js/codigo4.js"></script>