  <link rel="stylesheet" href="./css/style12.css">


<body>

    <header>
        <div class="fijo">
           <div class="envios">
           <p>Envío gratis en compra superiores a $40.000</p>
           </div>
       
           <h1> <strong>Valmour</strong></h1>
</header>

<br><br>
   
       
    





       <section>

           <div class="registrarse">
              
            <a href="/users">Crear cuenta</a>
               <a href="/users/Login">Iniciar sesión</a>
              
           </div>
           
         
           <nav>
            <div >
              <ul id="menu-horizontal">
                  <li> <a href="./">Inicio</a></li>
                  <li><a href="/compra">Productos</a>
                  <ul id="menu-vertical">
                     
                      <li><a href="/calzados">Calzados</a></li>
                      <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                  </li>


            
                  <li><a href="/contacto">Contacto</a></li>
              </ul>
             </div> 
             
           </nav>
       </section>
      
   

   </div>
   

   




   <br><br><br><br><br><br><br>
<article id="productimg">

   
        <div id="fotoPerfumeLancome">
            <figure>
                <img src="./assets/imagenes/lavidaesbellaperfume.jpg" alt="foto">
            </figure>
          
            
        </div>
        <br>
        <hr>
        
        <div id="detailscoral">
            <h5>Perfume La vie est belle </h5>

        
            <p> <strong>$14.900</strong> <del>$16.500</del> <br><br><strong>3</strong> cuotas sin interés de <strong>$4.966,67</strong><br><br> </a> </p>
         
          <br>

            
        </div>

</article>

<hr>
<br><br><br>

<div id="Description">
    <div>
        <h2>Descripción</h2>
        <br>
        
      <p>
        Haz que tu vida sea bella con La vie est belle, el icónico perfume dulce femenino de Lancôme. Un bouquet floral gourmand encapsulado en una sonrisa de cristal. <br>Una declaración universal a la felicidad y a la feminidad. Con la mezcla de los ingredientes más nobles, La vie est belle es un perfume verdaderamente adictivo. <br>

        La Vie est belle es el primer perfume enriquecido con Iris creado por Lancôme por tres de los perfumistas franceses más emblemáticos. <br> Un perfume con una poderosa estela, con un equilibrio perfecto entre la nobleza del Iris Pallida, la profundidad del Pachulí y un adictivo acorde de Vainilla, creando el perfecto aroma de la felicidad.

      </p>
        </ul>
    </div>
   
    

</div>

<br><br><br>
<h2>También te puede gustar</h2>
<br><br><br><br><br>



<div id="fotoProducto">
    <div id="producto1">
        <figure>
            <img src="./assets/imagenes/victoriassecretperfume.jpg" alt="foto">
            <p>Perfume Bombshell<br> <strong>$15.000</strong> <del>$17.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$5.166,67 </strong>  <br> <a href="/perfumeBombshell"><button> Ver producto</button></a>  </p>
        </figure>
    </div>
   

    <div id="producto2">
   <img src="assets/imagenes/marcjacobsperfume.jpg" alt="foto">
   <p>Perfume Marc Jacobs <br> <strong>$15.000</strong> <del>$17.600</del> <br><strong>3</strong> cuotas sin interés de <strong>$5.166,67</strong> <br> <a href="/perfumeMarcJacobs"><button> Ver producto</button></a></p>
    </div>
 

    <div id="producto3">
       <img src="./assets/imagenes/goodgirl.jpg" alt="foto">
       <p>Good Girl Blush <br> <strong>$13.900</strong> <del>$16.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$4.633,33</strong>   <br> <a href="/perfumeBlush"><button> Ver producto</button></a> </p>
    </div>
   

  
    
</div>



<br><br><br><br><br><br><br><br>

























       <div class="redesSociales">
           <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a> 
           <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a> 
            <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
            <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
        </div>
  
   
   <br><br>
       <div class=logoWhatsapp>
          <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
       </div> 
   
   <br><br>

   
   <script src="./js/codigo12.js"></script>






