
   <link rel="stylesheet" href="./css/style11.css">
<body>

    <header>
        <div class="fijo">
           <div class="envios">
           <p>Envío gratis en compra superiores a $40.000</p>
           </div>
       
           <h1> <strong>Valmour</strong></h1>
</header>

       <section>

           <div class="registrarse">
              
            <a href="/users">Crear cuenta</a>
               <a href="/users/Login">Iniciar sesión</a>
              
           </div>
           
         
           <nav>
            <div >
              <ul id="menu-horizontal">
                  <li> <a href="/">Inicio</a></li>
                  <li><a href="/compra">Productos</a>
                  <ul id="menu-vertical">
                  
                      <li><a href="/calzados">Calzados</a></li>
                      <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                  </li>


           
                  <li><a href="/contacto">Contacto</a></li>
              </ul>
             </div> 
             
           </nav>
       </section>
  


   </div>

<div id="banner-vs">
    <img src="./assets/imagenes/banner-victoriassecret.jpg" alt="banner-vs">
</div>






   <div>
    <a id="inicio" href="./">Inicio</a> 
    <p class="perfumes">/perfumes</p>
</div>
   


    
     </div>
    
   
    
  
        
        
         </div>
        
    <br><br><br>
    
         <div class="imagenesProducto1">
            <div id="producto01">
               <img src="./assets/imagenes/victoriassecrettease.jpg" alt="foto">
               <p>Tease de Victorias secret <br> <strong>$14.900</strong> <del>$16.500</del> <br><strong>3</strong> cuotas sin interés de <strong>$4.966,67 </strong>  <br> <a href="/perfumeTease"><button> Ver producto</button></a>  </p>
            </div>
            
            <br>
            <div id="producto02">
                <img src="./assets/imagenes/lavidaesbellaperfume.jpg" alt="foto">
                <p> La vie est belle Lancome <br><strong>$14.900</strong> <del>$16.500</del> <br><strong>3</strong> cuotas sin interés de <strong>$4.966,67 </strong>  <br> <a href="/perfumeLancome"><button> Ver producto</button></a>    </p>
            </div>
          
            <br>
            <div id="producto03">
                <figure>
                    <img src="./assets/imagenes/vsperfumemonparis.jpg" alt="foto">
                    <p>Mon Paris Yves Saint Laurent  <br><strong>$14.900</strong> <del>$16.500</del> <br><strong>3</strong> cuotas sin interés de <strong>$4.966,67 </strong>  <br> <a href="/perfumeMomParis"><button> Ver producto</button></a>   </p>
                </figure>
            </div>
            <p></p>
            
           
             </div>
    
    <br><br><br><br><br><br>
    <div class="imagenesProducto1">
    <div id="producto01">
     <figure>
        <img src="./assets/imagenes/goodgirl.jpg" alt="foto">
        <p>Good Girl Blush <br> <strong>$15.000</strong> <del>$17.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$5.166,67 </strong>  <br> <a href="/perfumeBlush"><button> Ver producto</button></a> </p>
     </figure>
     </div>
    <p></p>
     <br>
    <div id="producto02">
    <figure>
        <img src="./assets/imagenes/victoriassecretperfume.jpg" alt="foto">
        <p>Bombshell Victorias Secret <br> <strong>$15.000</strong> <del>$17.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$5.166,67</strong>   <br> <a href="/perfumeBombshell"><button> Ver producto</button></a>    </p>
    </figure>
     </div>
    <br>
    <p></p>
     <div id="producto03">
    <figure>
        <img src="./assets/imagenes/marcjacobsperfume.jpg" alt="foto">
        <p>Perfect Marc Jacobs <br> <strong>$15.000</strong> <del>$17.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$5.166,67></strong>   <br> <a href="/perfumeMarcJacobs"><button> Ver producto</button></a>   </p>
    </figure>
    </div>
    <p></p>
    
    
     </div>
        
    <br><br><br><br><br><br>
    
   
    
    
    </div>





























   <br><br><br><br><br><br><br>
   
       <div class="redesSociales">
           <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a> 
           <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a> 
            <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
            <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
        </div>
   
   
   <br><br>
       <div class=logoWhatsapp>
          <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
       </div> 
   
   
   
<script src="./js/codigo11.js"></script>


