  <link rel="stylesheet" href="./css/style16.css">


<body>

    <header>
        <div class="fijo">
           <div class="envios">
           <p>Envío gratis en compra superiores a $40.000</p>
           </div>
       
           <h1> <strong>Valmour</strong></h1>
</header>

<br><br>
   
       


       <section>

           <div class="registrarse">
            <a href="/cuenta">Crear cuenta</a>
               <a href="/users">Iniciar sesión</a>
              
           </div>
           
           <nav>
            <div >
              <ul id="menu-horizontal">
                  <li> <a href="./">Inicio</a></li>
                  <li><a href="/compra">Productos</a>
                  <ul id="menu-vertical">
                 
                      <li><a href="/calzados">Calzados</a></li>
                      <li><a href="/perfumes">Perfumes</a></li>
                  </ul>
                  </li>


             
                  <li><a href="/contacto">Contacto</a></li>
              </ul>
             </div> 
             
           </nav>
           
       </section>



   </div>
   

   




   <br><br><br><br><br><br><br>
<article id="productimg">

   
        <div >
            <figure>
                <img src="assets/imagenes/vansNegro.jpg" alt="foto">
            </figure>
          
            
        </div>
        <br>
        <hr>
        
        <div id="detailscoral">
            <h5>Zapatilla Vans</h5>
            <br>
            <p>Color</p>
            <div class="color">
              
            </div>

        <p> <strong>$11.900</strong> <del>$13.900</del> <br> <strong>3</strong> cuotas sin interés de <strong>$3.966,67</strong>     </p>
        
    </div>
           
            
          
         
      

</article>

<hr>
<br><br><br>

<div id="Description">
    <div>
        <h2>Descripción</h2>
        <br>
        Las Old Skool son las zapatillas clásicas de Vans y el primer modelo en lucir el icónico sidestripe de la marca.<br> Nacieron como un calzado para skaters de los años 70´y con el correr de las décadas se transformó en un modelo básico de lifestyle.<br> Son zapatillas de corte bajo confeccionadas con capellada resistente, tiene punteras reforzadas para añadir durabilidad, la suela de caucho original Vans Wafflesole <br> y cuello acolchado para ofrecer sujeción y confort.
    </div>
   
  
  
         
       

</div>

<br><br><br>
<h2>También te puede gustar</h2>
<br><br><br><br><br>



<div id="fotoProducto">
    <div id="producto1">
        <figure>
            
                <img src="./assets/imagenes/vansbordo.jpg"alt="foto">
                <p> Zapatillas Vans <br><strong>$13.900</strong> <del>$15.500</del> <br><strong>3</strong> cuotas sin interés de <strong>$4.633,33</strong>    <br> <a href="/vansBordo"><button> Ver producto</button></a> </p>
          
        </figure>
    </div>
   

    <div id="producto2">
        
        <figure>
            <img src="./assets/imagenes/vansBota.jpg" alt="foto">
            <p>Bota Vans <br> <strong>$14.900</strong> <del>$16.500</del> <br> <strong>3</strong> cuotas sin interés de <strong>$4.966,67 </strong>    <br> <a href="/botaVans"><button> Ver producto</button></a>  </p>
        </figure>
        
    </div>
 

    <div id="producto3">
        <figure>
            <img src="./assets/imagenes/all star.jpg" alt="foto">
            <p>Zapatilla Converse <br> <strong>$13.900</strong> <del>$16.600</del> <br> <strong>3</strong> cuotas sin interés de <strong>$4.633,33</strong>   <br> <a href="/zapatillaConverse"><button> Ver producto</button></a> </p>
        </figure>
       
    </div>
   

  
    
</div>



<br><br><br><br><br><br><br><br>

























   
       <div class="redesSociales">
           <a href="#"><img src="./assets/imagenes/facebook.png" alt="facebook"></a> 
           <a href="#"><img src="./assets/imagenes/logo rosa.png" alt="instagram"> </a> 
            <a href="#"> <img src="./assets/imagenes/tik-tok (1).png" alt="tiktok"></a>
            <a href="#"><img src="./assets/imagenes/youtube.png" alt="youtube"></a>
        </div>
   
   
   <br><br>
       <div class=logoWhatsapp>
          <a href="#"><img src="./assets/imagenes/logo whatsapp fixed 2.png" alt="logo whatsapp"></a> 
       </div> 
   
   <br><br>

   
   

 <script src="./js/codigo15.js"></script>







   